<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58167365956-rompptvkj6ik2v4gv996c9gthbg2c41h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58167365956-rompptvkj6ik2v4gv996c9gthbg2c41h</string>
	<key>API_KEY</key>
	<string>AIzaSyBBdovRB2Muywyj7VdqAfta3zSIwJwZsYI</string>
	<key>GCM_SENDER_ID</key>
	<string>58167365956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.figurich.Beliski</string>
	<key>PROJECT_ID</key>
	<string>beliski</string>
	<key>STORAGE_BUCKET</key>
	<string>beliski.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58167365956:ios:b501ff8287ad78250f0711</string>
</dict>
</plist>